* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.draggable {
    position: absolute;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 10%;
    display: grid;
    place-items: center;
}
