#gameBox {
    background-color: wheat;
    box-sizing: content-box;
    position: absolute;
    width: 1000px;
    height: 750PX;
    border: 2px dashed sandybrown;
}

#robot {
    position: absolute;
    width: 80px;
    height: 80px;

    background-image: linear-gradient(to bottom, red, orange, yellow, lime, skyblue, blue, purple);

    border-top: 2px solid black;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
